<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Freelance Platform Register</title>
    {% load static %}
  <link href="{% static 'accounting/css/accounting.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.2/font/bootstrap-icons.min.css">
</head>
<body>
  <div class="container">
    <div class="left-panel">
      <h1 class="logo">Zhasa</h1>
      <p class="description">Zhasa — это глобальная фриланс-платформа и социальная сеть, где бизнес и независимые профессионалы могут сотрудничать удаленно.</p>
      <img src="https://cdn.prod.website-files.com/60437b5068e4a6f06e417a1b/61b0c18181646076c8a986c7_freelance-bold-writer-illustration.png" alt="Illustration" class="illustration">
    </div>
    <div class="right-panel">
      <div class="auth-box">
        <div class="auth-header">
          <a href="{% url 'login' %}" class="btn">Войти</a>
          <button class="btn active">Регистрация</button>
        </div>
 <form class="auth-form">
  <label>Регистрация</label>
   <label></label>


  <input type="full-name" id="full-name" name="full-name" required placeholder="Введите полное имя">

  <input type="email" id="email" name="email" required placeholder="Введите email">

  <input type="phone-number" id="phone-number" name="phone-number" required placeholder="Введите номер">

  <input type="password" id="password" name="password" required placeholder="Введите пароль">

  <input type="confirm-password" id="password" name="password" required placeholder="Подтвердите пароль">




  <button type="submit" class="submit-btn">Зарегистрироваться</button>
</form>

      </div>
    </div>
  </div>
  <footer>
    <p>&copy; Copyright 2025</p>
  </footer>

</body>
</html>